<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Product Register Page</h1>

  <input type="file" name="upload" multiple class="uploadInput">
  <button class="uploadBtn">UPLOAD</button>

  <div class="uploadDiv">
    <ul class="uploadUL">

    </ul>
  </div>

  <style>
    .uploadUL {list-style: none;display: flex;}
    .uploadUL li {margin: 1em;padding: 1em;border:1px solid black;background-color: coral;border-radius: 5px;}
  </style>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const uploadBtn = document.querySelector(".uploadBtn")
    const uploadInput = document.querySelector(".uploadInput")
    const uploadUL = document.querySelector(".uploadUL")

    uploadBtn.addEventListener("click", e => {
      e.preventDefault()
      e.stopPropagation()

      //console.dir(uploadInput.files)

      if(!uploadInput.files || uploadInput.files.length === 0) {
        return
      }

      const formData = new FormData()

      for(let i = 0; i < uploadInput.files.length; i++) {
        formData.append("files", uploadInput.files[i])
      }

      //console.dir(formData)

      const header = {headers: {"Content-Type": "multipart/form-data"}}

      axios.post("http://localhost:8080/upload", formData, header).then(res => {
        const result = res.data
        //console.log(result)
        showProducts(result)
      })

    },false) //캡쳐링 하지 않는다 false 선언

    const showProducts = (arr) => {
      let str = ""
      for (const uploadFile of arr){
        //console.log(uploadFile)
        //구조 분해 할당
        const {fileName,link,uuid} = uploadFile
        str += `
        <li>
          <div>
            <a href="http://localhost/${uuid}_${fileName}" target="_blank">
              <img src="http://localhost/${link}"/>
            </a>
            <p>${fileName} <button onclick="javascript:removeFile(event, '${uuid}', '${fileName}')">X</button></p>
          </div>
        </li>`
      }
      //여러번 업로드 할 수 있으니 +=로 계속 추가
      uploadUL.innerHTML += str
    }

    const removeFile = (e, uuid, fileName) => {
      //두개는 항상 같이 사용
      e.preventDefault()
      e.stopPropagation()

      const liObj = e.target.closest("li")
      //alert("remove file")
      //console.log(liObj)
      liObj.remove();
    }
  </script>
</body>
</html>